@model TerminalLibrary.Models.UserReg

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regjistrimi</title>
</head>

<body>
    <div class="regk">
        <div class="itemck">
            <h1>Regjistrimi i Klientit</h1>
            <form method="post" asp-action="Register" asp-controller="Login">
                <div class="form-group">
                    <label asp-for="FirstName" class="text-white">Emri</label>
                    <input asp-for="FirstName" class="form-control" id="exampleFormControlInput1">
                    <span asp-validation-for="FirstName" class="text-danger font-italic mb-3"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="text-white">Mbiemri</label>
                    <input asp-for="LastName" class="form-control" id="exampleFormControlInput1">
                    <span asp-validation-for="LastName" class="text-danger font-italic mb-3"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="text-white">Email</label>
                    <input asp-for="Email" class="form-control" id="exampleFormControlInput1">
                    <span asp-validation-for="Email" class="text-danger font-italic mb-3"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="text-white">Fjalëkalimi</label>
                    <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1">
                    <span asp-validation-for="Password" class="text-danger font-italic mb-3"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Pwconfirm" class="text-white">Konfirmo Fjalëkalimin</label>
                    <input asp-for="Pwconfirm" type="password" class="form-control" id="exampleInputPassword1">
                    <span asp-validation-for="Pwconfirm" class="text-danger font-italic mb-3"></span>
                </div>
                <button type="submit" class="mt-4 btn btn-success w-100 p-3">Regjistrohu</button>
            </form>
        </div>
    </div>
</body>

</html>
